<!-- Deep Link للعودة التلقائية للتطبيق بعد نجاح تسجيل الدخول من جوجل -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                
                <data
                    android:scheme="wasalny"
                    android:host="auth" />
            </intent-filter>

            <!-- دعم روابط الـ App URL لضمان العودة الآمنة عبر https -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                
                <data
                    android:scheme="https"
                    android:host="ais-pre-pvgpazyr7qqyc4cetwc52r-283597327008.europe-west1.run.app" />
            </intent-filter>
